body {
    background-color: black;
    color :white;
  }
  
header {
    color: white;
  }
  
h1 {
    font-size: 40px;
    color: white;
  }
  
a:link {
    text-decoration: none;
    color: white;
  }
  
.a {
    font-size: 40px;
    padding-top: 10px;
  }
  
span{
    display: inline-block;
  }
  
h3 {
    text-decoration: underline;
    text-decoration-color: pink !important;
  }